<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <form method="post">
                <table>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="name" id="name" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td><input type="email" name="email" id="email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td><input type="text" name="country" id="country" placeholder="Country"></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="password" id="password" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="submit" ></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </div>
</body>
</html>